################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Cathedra/v14/.suo
/Cathedra/bin/Debug
/Cathedra/obj/Debug
/Cathedra.BL/bin/Debug
/Cathedra.BLTests/bin/Debug
/Cathedra.BL/obj/Debug
/Cathedra.Data/bin/Debug
/Cathedra.Data/obj/Debug
/Cathedra.BLTests/obj/Debug
/.vs/Cathedra/v15/.suo
/.vs/Cathedra/v15
