<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cathedra.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Cathedra.Data.Properties.Settings.iCathedraUniversityConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=iCathedraUniversityNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Cathedra.Data.Properties.Settings.CathedraUniversityConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=iCathedraUniversityNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Cathedra.Data.Properties.Settings>
            <setting name="LoadPercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SchollYearID" serializeAs="String">
                <value>9</value>
            </setting>
        </Cathedra.Data.Properties.Settings>
    </userSettings>
</configuration>